@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService

@model IEnumerable<ShoppingCenter.Models.Shop>

@{
    ViewData["Title"] = "Index";
}


<h1>Information about stores in the shopping center.</h1>
@if ((await AuthorizationService.AuthorizeAsync(User, "SuperAdmin")).Succeeded)
{
    <p>
        <a class="btn btn-primary d-inline-block m-1" asp-action="Create">Create new store</a>
    </p>
}


<div class="row row-cols-3 card-deck">
    @foreach (var item in Model)
    {
        <div class="container">
            <h2></h2>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="@item.Url" alt="Card image" style="width:100%">
                <div class="card-body">

                    <p>
                        <h4>@item.ShopName</h4>
                    </p>
                    <p>
                        <h6>Information what u can buy in this store: <br>@Html.DisplayFor(modelItem => item.Description) </h6>
                    </p>
                    <p>
                        <h6>Level: @Html.DisplayFor(modelItem => item.Level)</h6>
                    </p>
                    <p>
                        <h6>Email: @Html.DisplayFor(modelItem => item.Email)</h6>
                    </p>

                    <a asp-action="Items" asp-route-id="@item.ShopId" class="btn btn-success d-inline-block m-1">Redirect to the store</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "SuperAdmin")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ShopId" class="btn btn-secondary d-inline-block m-1">Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.ShopId" class="btn btn-danger d-inline-block m-1">Delete</a>
                    }

                </div>
            </div>
            <br>
        </div>
    }
</div>

@*
                    @model IEnumerable<ShoppingCenter.Models.Shop>

@{
    ViewData["Title"] = "Index";
}

<h1>Information about stores in the shopping center.</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create new store</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Items" asp-route-id="@item.ShopId">@item.ShopName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ShopId" class="btn btn-secondary d-inline-block m-1">Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.ShopId" class="btn btn-danger d-inline-block m-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@