@model IEnumerable<ShoppingCenter.Models.Shop>

@{
    ViewData["Title"] = "Index";
}

<h1>Information about stores in the shopping center</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create new store</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Items" asp-route-id="@item.ShopId">@item.ShopName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ShopId" class="btn btn-secondary d-inline-block m-1">Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.ShopId" class="btn btn-danger d-inline-block m-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
