@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService

@model Shop

@if ((await AuthorizationService.AuthorizeAsync(User, "SuperAdmin")).Succeeded)
{
    <a asp-action="AddItemToShop" asp-controller="Item" asp-route-id="@Model.ShopId" class="btn btn-primary d-inline-block m-1">Add new item to shop.</a>
}



<div class="row row-cols-3 card-deck">
    @foreach (var item in Model.Shop_Items)
    {
        <div class="container">
            <h2></h2>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="@item.Item.Url" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title"> @item.Item.NameItem</h4>
                    <p class="card-text">Price: @item.Item.PriceItem per item </p>
                    <p class="card-text">Description: @item.Item.DescriptionItem</p>
                    <p class="card-text">Colour: @item.Item.ColorItem</p>
                    <a asp-action="Buy" asp-controller="Item" class="btn btn-success d-inline-block m-1">Buy</a>

                    @if ((await AuthorizationService.AuthorizeAsync(User, "SuperAdmin")).Succeeded)
                    {
                        <a asp-action="Edit" asp-controller="Item" asp-route-id="@item.ItemId" class="btn btn-primary d-inline-block m-1">Edit</a>
                        <a asp-action="Delete" asp-controller="Item" asp-route-id="@item.ItemId" class="btn btn-danger d-inline-block m-1">Delete</a>
                    }

                </div>
            </div>
            <br>
        </div>
    }
</div>
