@model Shop

<table style ="width:100%">
    <tr>
        <th>Item Name</th>
        <th>Colour</th>
        <th>Size</th>
        <th>Price</th>
        <th>Descriptions</th>
    </tr>
    @foreach(var item in Model.Shop_Items)
    {
        <tr>
            <td>
                @item.Item.NameItem
            </td>
            <td>
                @item.Item.ColorItem
            </td>
            <td>
                @item.Item.SizeItem
            </td>
            <td>
                @item.Item.PriceItem
            </td>
            <td>
                @item.Item.DescriptionItem
            </td>
        </tr>
    }
</table>